@page "/"
@page "/page_1"

<div class="row-layout page-1-container">
    <div class="row-layout group">
        <span class="material-icons icon">
            mail
        </span>
        <span class="imx-icon imx-coronavirus icon"></span>
        <IgbIconButton Variant="IconButtonVariant.Flat">
            <span class="material-icons">
                ac_unit
            </span>
            <IgbRipple></IgbRipple>
        </IgbIconButton>
        <IgbButton DisplayType="ButtonBaseType.Button" class="button" page_1-scope>
            <span class="imx-icon imx-drop-shipping"></span>
            <span>Button</span>
            <IgbRipple></IgbRipple>
        </IgbButton>
    </div>
</div>

@code {
}
